@import 'variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    color: $VeryDarkBlue;
}


.top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;

    h1{
        text-align: center;
        font-size: 3rem;
    }
    p{
        text-align: center;
        font-weight: 400;
        font-size: 1.5rem;
        color: $GrayishBlue;
    }


}


.top1{
    font-weight: 200;
}

.top2{
    font-weight: 600;
}

.bottom__cont1{
    grid-area: cont1;
    justify-self: end;
    border-radius: 0.5rem;
    border-top: 0.3rem solid $Cyan;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.40);
}


.bottom__cont2{
    grid-area: cont2;
    justify-self: center;
    border-radius: 0.5rem;
    border-top: 0.3rem solid $Red;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.40);
}
.bottom__cont3{
    grid-area: cont3;
    justify-self: center;
    border-radius: 0.5rem;
    border-top: 0.3rem solid $Orange;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.40);
}
.bottom__cont4{
    grid-area: cont4;
    justify-self: start;
    border-radius: 0.5rem;
    border-top: 0.3rem solid $Blue;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.40);
}




.bottom{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". cont2 ."
                         "cont1 cont2 cont4"
                         "cont1 cont3 cont4"
                         ". cont3 .";
    padding-top: 4rem;                     
    row-gap: 2rem;
    column-gap: 2rem;
}

.bottom__cont1, .bottom__cont2,.bottom__cont3, .bottom__cont4 {
    min-width: 22vw;
    min-height: 22vh;
    padding: 2rem;

    img{
        float: right;
        position: inherit;
    }
}

@media only screen and (max-width: 375px) {
    .top{
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 0.9rem;
        }
    }



    .bottom{

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "cont1"
                         "cont2"
                         "cont3"
                         "cont4";
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }
  }